
/node_modules/
/assets/
/classes/
/config/
/interfaces/
/middlewares/
/models/
/routes/
/uploads/
dist/uploads/avatar/*
dist/uploads/objeto/*
!/dist/uploads/avatar/index.js
!/dist/uploads/objeto/index.js
/*.ts
/configs.md